<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.raternet_isp_app">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_my_second_logo_foreground"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_my_second_logo_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity android:name=".CompanyActivity"></activity>
        <activity android:name=".SearchNetworkActivity" />
        <activity android:name=".ViewReviewActivity" />
        <activity android:name=".IspRatingsActivity" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="12451000"
            tools:replace="android:value" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAsrlYfrr2QkRGcv30zV-cUfGL_TECPDWs" />
    </application>

</manifest>